*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/hw1/code/kmeans.py~
/hw1/code/metricData.csv
/hw1/code/metricData.sql
/hw1/code/tests.py~
/hw1/metricData.csv
/hw1/metricData.sql
/hw1/show~
/hw1/README~
/hw1/writeup/hw1.tex~
